


.nothing__main-content{
    align-items: center;
    background-color: $primary;
    color: white;
    flex-direction: column;
    justify-content: center;
    display: flex;
    height: 100vh;

}
p{
    text-align: center;
}